{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_clearview/view

    Template to build the main report_clearview view.

    Classes required for JS:
    * jquery

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * $data (array) {
        ["main"]=> string,
      }

    Example context (json):
    {
    }
}}

{{{main}}}

<script type="text/javascript" src="/report/clearview/js/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="/report/clearview/js/DataTables/datatables.min.js"></script>
<script type="text/javascript" src="/report/clearview/js/bootstrap-toggle.js"></script>
<script>window.jQuery || document.write('<script src="/report/clearview/js/jquery-slim.min.js"><\/script>')</script>

<script src="/report/clearview/js/popper.min.js"></script>

<!-- Icons -->
<script src="/report/clearview/js/feather.min.js"></script>
<script>
    feather.replace()
</script>

<!-- Graphs -->
<script type="text/javascript" src="/report/clearview/js/chart.js"></script>

<script>
    let categorychanger = document.getElementById('categorychangerselect1');

    categorychanger.addEventListener("change", function(e) {
        document.getElementById("categoryselectorspinner").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';

        //let value = this.value;
        //let text = this.options[this.selectedIndex].text;
        let categoryid = this.options[this.selectedIndex].getAttribute('data-categoryid');

        let categoryidarray = categoryid.split(/,/);

        url = '/report/clearview/index.php?rpt=' + categoryidarray[0] + '&id=' + categoryidarray[1] + '&ext=' + categoryidarray[2];

        window.open(url, '_self').focus();
    });

    function changeextcategory(reporttype, categoryid) {
        document.getElementById("categoryselectorspinner").innerHTML = '<i class="fa fa-spinner fa-spin"></i>';

        let url = '';
        let extended;

        if ($('#extendedcategorytoggle').prop('checked') === true) {
            extended = 1;
        } else {
            extended = 0;
        }

        url = '/report/clearview/index.php?rpt=' + reporttype + '&id=' + categoryid + '&ext=' + extended;

        //window.location.href = url;
        //window.open(url, '_blank').focus();
        window.open(url, '_self').focus();
    }
</script>
